version: "3.9"

services:
  pm-pooling-be:
    container_name: pm-pooling-be
    build:
      context: ./../../benchmark-apps/pooling/pooling-be
    networks:
      - pm-network
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
    ports:
      - "8071:8080"

  pm-pooling-fe:
    container_name: pm-pooling-fe
    build:
      context: ./../../benchmark-apps/pooling/pooling-fe
    networks:
      - pm-network
    ports:
      - "4201:80"

networks:
  pm-network:
    external: true
    name: pm-network